.container {
  width: 100%;
  height: 68px;
  position: absolute;
  /* position: sticky; */
  top: 8px;
  left: 0;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.content {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1687c3;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
/* Nav */
nav ul {
  display: flex;
  gap: 26px;
}
nav ul li {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
/* Register Button */
.register {
  width: 177px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
  border-radius: 14px;
  background: #0793d8;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: var(--secondary-text-color, #f1f1f1);
}
